<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {#    <link rel="stylesheet" href="{% static "css/style.css" %}">#}


    <style>
        .navbar {
            width: 100%;
            height: 50px;
            margin: auto;
            text-align: center;
            background: rgb(250, 189, 135);
        }

        .nav-link {
            color: black;
        }


        .container {
            padding-top: 50px;

        }

        .btn {
            border-style: solid;
            border-color: dimgray;
            color: black;
            height: 40px;
        }
    </style>

</head>
<body>


<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

    <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
        <a class="navbar-brand" href="{% url 'users_app:home' %}">Home</a>

        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'users_app:cataLog' %}">Start Shopping!</a>
            <a class="nav-link" href="{% url 'users_app:place_order' %}">Shopping Cart</a>
            <a class="nav-link" href="{% url 'users_app:trace_order' %}">Trace Orders</a>
            <a class="nav-link" href="{% url 'users_app:logout' %}">Logout</a>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'users_app:register' %}">Register</a>
            <a class="nav-item nav-link" href="{% url 'users_app:login' %}">Login</a>
        {% endif %}


    </div>
</nav>


<div class="container">
    {% block body_block %}
    {% endblock %}
</div>
</body>
</html>
